<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Wallet Action</title>
</head>
<body>
    <h1>Admin Wallet Action</h1> 
<hr>
<p>Total Number of Users: {{ user.total_users }}</p>
<p>Total Wallet Credit: ₦{{ user.total_wallet_credit }}</p>
<p>Total Bonus Balance: ₦{{ total_bonus_balance }}</p>


    <hr>

    {% if messages %}
        <ul>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form action="{% url 'admin_wallet_action' %}" method="post">
        {% csrf_token %}
        
        {{ form.as_p }}
        
        <button type="submit">Proceed</button>
    </form>
</body>
</html>
