<!doctype html>
<html lang="en">
    {% load static %}
    <head>
        {% if app_info.app_logo %}
        <link rel="icon" href="{{ app_info.app_logo.url }}" type="image/png">
    {% else %}
        <link rel="icon" href="{% static 'path/to/default/favicon.png' %}" type="image/png">
    {% endif %}
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="description" content="Paytev">
        <meta name="author" content="Paytev">

        <title>Profile</title>

        <!-- CSS FILES -->      
<link rel="preconnect" href="https://fonts.googleapis.com">
        
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<link href="https://fonts.googleapis.com/css2?family=Unbounded:wght@300;400;700&display=swap" rel="stylesheet">

<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">

<link href="{% static 'css/bootstrap-icons.css' %}" rel="stylesheet">

<link href="{% static 'css/apexcharts.css' %}" rel="stylesheet">

<link href="{% static 'css/tooplate-mini-finance.css' %}" rel="stylesheet"> 

    </head>

        {% include "account/navbar.html" %}
        {% include "account/sidebar.html" %}

      
     
    <main class="main-wrapper col-md-9 ms-sm-auto py-4 col-lg-9 px-md-4 border-start">
        <div class="title-group mb-3"> 

        <h1 class="h2 mb-0">Profile</h1>
    </div>
    {% if messages %}
    <div class="messages">
        {% for message in messages %}
            <div class="alert alert-{{ message.tags }}">
                {{ message }}
            </div>
        {% endfor %}
    </div>
{% endif %}

    <div class="row my-4">
        <div class="col-lg-7 col-12">
            <div class="custom-block custom-block-profile">
                <div class="row">
                    <div class="col-lg-12 col-12 mb-3">
                        <h6>General</h6>
                    </div>

                    <div class="col-lg-3 col-12 mb-4 mb-lg-0">
                        <div class="custom-block-profile-image-wrap">
                            {% if user.profile_picture %}
    <img src="{{ user.profile_picture.url }}" class="custom-block-profile-image img-fluid" alt="Profile Picture" />
{% else %}
    <img src="https://www.tooplate.com/templates/2135_mini_finance/images/medium-shot-happy-man-smiling.jpg" class="custom-block-profile-image img-fluid" alt="Default Profile Picture">
{% endif %}

                            <a href="{% url 'edit_profile' %}" class="bi-pencil-square custom-block-edit-icon"></a>
                        </div>
                    </div>

                    <div class="col-lg-9 col-12">
                        <p class="d-flex flex-wrap mb-2">
                            <strong>Full Name:</strong>
                            {% if user.first_name or user.last_name %}
                                <span>{{ user.first_name }} {{ user.last_name }}</span>
                            {% else %}
                                <span>None</span>
                            {% endif %}
                        </p>
                        

                        <p class="d-flex flex-wrap mb-2">
                            <strong>Email:</strong>
                            
                            <a href="#">
                                {{ user.email }}
                            </a>
                        </p>

                        <p class="d-flex flex-wrap mb-2">
                            <strong>Phone Num:</strong>

                            <a href="#">
                                {{ user.phone_number }} 
                            </a>
                        </p>

                        <p class="d-flex flex-wrap mb-2">
                            <strong>Birthday:</strong>
                            {% if user.date_of_birth %}
                                <span>{{ user.date_of_birth }}</span>
                            {% else %}
                                <span>None</span>
                            {% endif %}
                        </p>

                        <p class="d-flex flex-wrap">
                            <strong>Address:</strong>
                             {% if user.address %}
                                 <span>{{ user.address }}</span>
                                  {% else %}
                                <span>None</span>
                            {% endif %}
                        </p>

                        <p class="d-flex flex-wrap">
                            <strong>Bio:</strong>
                            {% if user.bio %}
                            <span>{{ user.bio }}</span>
                        {% else %}
                            <span>None</span>
                        {% endif %}
                    </p> 
                    
                        <a href="{% url 'edit_profile' %}" class="btn custom-btn custom-btn-bg-white mt-3">
                            Update Profile
                        </a> 
                        
                    </div>
                </div>
            </div>

            <div class="custom-block custom-block-profile bg-white">
                <h6 class="mb-4">Account Status</h6>

                {% if user.kyc.status == 'Verified' %}
                <div style="text-align: center;">
                    <img src="https://cdn-icons-png.flaticon.com/512/5818/5818321.png" alt="Verified Icon" style="display: block; margin: 0 auto; width: 90px; height: 90px;">
                    <p style="color: green; font-weight: bold; font-size: 22px; margin-top: 5px;">
                        VERIFIED
                    </p>
                </div>
            {% endif %}



            {% if user.kyc.status == 'Submitted' %}
            <div style="text-align: center;">
                <img src="https://cdn-icons-png.flaticon.com/512/5818/5818321.png" alt="Verified Icon" style="display: block; margin: 0 auto; width: 90px; height: 90px;">
                <p style="color: gray; font-weight: bold; font-size: 22px; margin-top: 5px;">
                    Processing...
                </p>
                KYC was submitted successfully. <br>Verification in progress.
            </div>
        {% endif %}


        {% if user.kyc.status == 'Rejected' %}
        <div style="text-align: center;">
            <img src="https://t4.ftcdn.net/jpg/07/14/13/11/360_F_714131195_sD4bLgVvJMGMxSuTggvUNliaQswqgk2P.jpg" alt="Verified Icon" 
            src="https://cdn-icons-png.flaticon.com/512/3712/3712271.png" alt="Verified Icon" 
            style="display: block; margin: 0 auto; width: 145px; height: 80px;">
            <p style="color: gray; font-weight: bold; font-size: 22px; margin-top: 5px;">
                Your KYC was rejected 
            </p>
            {{ user.kyc.rejection_reason }}
            <center>  <a class="btn custom-btn" href="{% url 'kyc_form' %}" style="background-color: red; color: #ffffff; padding: 5px 10px; text-decoration: none; border-radius: 5px; display: inline-block; font-size: 15px; transition: transform 0.3s ease, background-color 0.3s ease;">
                Re-submit Details
            </a></center>
        </div>
    {% endif %}



                {% if user.kyc.status == 'Not Verified'%}
                <!-- Display content for unverified users -->
              <center>  <a class="btn custom-btn" href="{% url 'kyc_form' %}" style="background-color: red; color: #ffffff; padding: 5px 10px; text-decoration: none; border-radius: 5px; display: inline-block; font-size: 16px; transition: transform 0.3s ease, background-color 0.3s ease;">
                    Verify Account
                </a></center>
            {% endif %}


         
        


                <!--<p class="d-flex flex-wrap mb-2">
                    <strong>User ID:</strong>

                    <span>012 395 8647</span>
                </p>

                <p class="d-flex flex-wrap mb-2">
                    <strong>Type:</strong>

                    <span>Personal</span>
                </p>

                <p class="d-flex flex-wrap mb-2">
                    <strong>Created:</strong>

                    <span>July 19, 2020</span>
                </p>

                <p class="d-flex flex-wrap mb-2">
                    <strong>Valid Date:</strong>

                    <span>July 18, 2032</span>
                </p>-->
            </div>
        </div>

        <div class="col-lg-5 col-12">
            <div class="custom-block custom-block-contact">
                <h6 class="mb-4" style="color: white;">Still can’t find what you need?</h6>
        
                <p style="color: white;">
                    <strong>Message us:</strong>
                    <!--<a href="tel: 305-240-9671" class="ms-2" style="color: white;">
                        (60) 
                        305-240-9671
                    </a>-->
                </p>
        
                <a href="https://wa.link/vgb3fk" class="btn custom-btn custom-btn-bg-white mt-3">
                    Chat with us on Whatsapp
                </a>
            </div>
        </div>
        
    </div>

    <footer class="site-footer">
        <div class="container">
            <div class="row">
                
                <div class="col-lg-12 col-12">
                    <p class="copyright-text">Copyright © 2024 
                    - Design: <a rel="sponsored" href="https://{{ app_info.app_domain }}" target="_blank">{{ app_info.app_name }}</a></p>
                </div>

            </div>
        </div>
    </footer>
</main>

</div>
</div>